<a href="https://colab.research.google.com/github/EmadSoheili/DeepLearning-UofT-Canvas/blob/main/RandomForest_Vs_DeepLearning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# imports

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import OneHotEncoder
import pandas as pd
import tensorflow as tf

In [2]:
# Load data

loans_df = pd.read_csv('Inputs/loan_status.csv')
loans_df.head()

,Loan_Status,Current_Loan_Amount,Term,Credit_Score,Annual_Income,Years_in_current_job,Home_Ownership,Purpose,Monthly_Debt,Years_of_Credit_History,Months_since_last_delinquent,Number_of_Open_Accounts,Number_of_Credit_Problems,Current_Credit_Balance,Maximum_Open_Credit,Bankruptcies,Tax_Liens
0,Fully_Paid,99999999,Short_Term,741.0,2231892.0,8_years,Own_Home,Debt_Consolidation,29200.53,14.9,29.0,18,1,297996,750090.0,0.0,0.0
1,Fully_Paid,217646,Short_Term,730.0,1184194.0,<_1_year,Home_Mortgage,Debt_Consolidation,10855.08,19.6,10.0,13,1,122170,272052.0,1.0,0.0
2,Fully_Paid,548746,Short_Term,678.0,2559110.0,2_years,Rent,Debt_Consolidation,18660.28,22.6,33.0,4,0,437171,555038.0,0.0,0.0
3,Fully_Paid,99999999,Short_Term,728.0,714628.0,3_years,Rent,Debt_Consolidation,11851.06,16.0,76.0,16,0,203965,289784.0,0.0,0.0
4,Fully_Paid,99999999,Short_Term,740.0,776188.0,<_1_year,Own_Home,Debt_Consolidation,11578.22,8.5,25.0,6,0,134083,220220.0,0.0,0.0

In [3]:
# Create a list of categorical fields

loans_cat = loans_df.dtypes[loans_df.dtypes == "object"].index.tolist()

# Check the number of unique values in each column

loans_df[loans_cat].nunique()

Loan_Status              2
Term                     2
Years_in_current_job    11
Home_Ownership           4
Purpose                  7
dtype: int64

In [4]:
# Check the unique value counts to see if bucketing is required

loans_df.Years_in_current_job.value_counts()

10+_years    13149
2_years       3225
3_years       2997
<_1_year      2699
5_years       2487
4_years       2286
1_year        2247
6_years       2109
7_years       2082
8_years       1675
9_years       1467
Name: Years_in_current_job, dtype: int64

In [5]:
# One-Hot Encoding

enc = OneHotEncoder(sparse=False)
encode_df = pd.DataFrame(enc.fit_transform(loans_df[loans_cat]))
encode_df.columns = enc.get_feature_names(loans_cat)
encode_df.head()

/usr/local/lib/python3.8/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,Loan_Status_Fully_Paid,Loan_Status_Not_Paid,Term_Long_Term,Term_Short_Term,Years_in_current_job_10+_years,Years_in_current_job_1_year,Years_in_current_job_2_years,Years_in_current_job_3_years,Years_in_current_job_4_years,Years_in_current_job_5_years,...,Home_Ownership_Home_Mortgage,Home_Ownership_Own_Home,Home_Ownership_Rent,Purpose_Business_Loan,Purpose_Buy_House,Purpose_Buy_a_Car,Purpose_Debt_Consolidation,Purpose_Home_Improvements,Purpose_Medical_Bills,Purpose_Other
0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [6]:
# Merge one-hot encoded features and drop the original ones

loans_df = loans_df.merge(encode_df,left_index=True, right_index=True)
loans_df = loans_df.drop(loans_cat,1)
loans_df.head()

<ipython-input-6-02476ec55064>:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  loans_df = loans_df.drop(loans_cat,1)

,Current_Loan_Amount,Credit_Score,Annual_Income,Monthly_Debt,Years_of_Credit_History,Months_since_last_delinquent,Number_of_Open_Accounts,Number_of_Credit_Problems,Current_Credit_Balance,Maximum_Open_Credit,...,Home_Ownership_Home_Mortgage,Home_Ownership_Own_Home,Home_Ownership_Rent,Purpose_Business_Loan,Purpose_Buy_House,Purpose_Buy_a_Car,Purpose_Debt_Consolidation,Purpose_Home_Improvements,Purpose_Medical_Bills,Purpose_Other
0,99999999,741.0,2231892.0,29200.53,14.9,29.0,18,1,297996,750090.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,217646,730.0,1184194.0,10855.08,19.6,10.0,13,1,122170,272052.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,548746,678.0,2559110.0,18660.28,22.6,33.0,4,0,437171,555038.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,99999999,728.0,714628.0,11851.06,16.0,76.0,16,0,203965,289784.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,99999999,740.0,776188.0,11578.22,8.5,25.0,6,0,134083,220220.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [7]:
# Split data into inputs and output

y = loans_df.Loan_Status_Fully_Paid
X = loans_df.drop(columns=["Loan_Status_Fully_Paid","Loan_Status_Not_Paid"])

In [8]:
# Split data into train and test

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [9]:
# Scale data

scaler = StandardScaler()
X_scaler = scaler.fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [10]:
# Random Forest

# Model

rf_model = RandomForestClassifier(n_estimators=128, random_state=78)
rf_model = rf_model.fit(X_train_scaled, y_train)

# Evaluation

y_pred = rf_model.predict(X_test_scaled)
print(f" Random forest predictive accuracy: {accuracy_score(y_test,y_pred):.3f}")

 Random forest predictive accuracy: 0.849

In [11]:
# Deep Learning

# Model

number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 24
hidden_nodes_layer2 = 12

nn = tf.keras.models.Sequential()

# Hidden layers

nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer

nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Compile

nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Train model

fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

# Evaluation

model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Epoch 1/50
854/854 [==============================] - 3s 3ms/step - loss: 0.4254 - accuracy: 0.8348
Epoch 2/50
854/854 [==============================] - 2s 3ms/step - loss: 0.3860 - accuracy: 0.8487
Epoch 3/50
854/854 [==============================] - 2s 3ms/step - loss: 0.3821 - accuracy: 0.8490
Epoch 4/50
854/854 [==============================] - 3s 3ms/step - loss: 0.3798 - accuracy: 0.8492
Epoch 5/50
854/854 [==============================] - 2s 3ms/step - loss: 0.3788 - accuracy: 0.8492
Epoch 6/50
854/854 [==============================] - 2s 3ms/step - loss: 0.3778 - accuracy: 0.8492
Epoch 7/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3767 - accuracy: 0.8494
Epoch 8/50
854/854 [==============================] - 2s 3ms/step - loss: 0.3766 - accuracy: 0.8495
Epoch 9/50
854/854 [==============================] - 2s 3ms/step - loss: 0.3752 - accuracy: 0.8494
Epoch 10/50
854/854 [==============================] - 2s 3ms/step - loss: 0.3748 - accuracy: 0.8495
Epoch 11/50
854/854 [==============================] - 2s 3ms/step - loss: 0.3737 - accuracy: 0.8499
Epoch 12/50
854/854 [==============================] - 2s 3ms/step - loss: 0.3740 - accuracy: 0.8497
Epoch 13/50
854/854 [==============================] - 2s 3ms/step - loss: 0.3728 - accuracy: 0.8494
Epoch 14/50
854/854 [==============================] - 2s 3ms/step - loss: 0.3726 - accuracy: 0.8497
Epoch 15/50
854/854 [==============================] - 2s 3ms/step - loss: 0.3724 - accuracy: 0.8501
Epoch 16/50
854/854 [==============================] - 2s 3ms/step - loss: 0.3717 - accuracy: 0.8499
Epoch 17/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3713 - accuracy: 0.8501
Epoch 18/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3714 - accuracy: 0.8499
Epoch 19/50
854/854 [==============================] - 2s 3ms/step - loss: 0.3703 - accuracy: 0.8505
Epoch 20/50
854/854 [==============================] - 2s 3ms/step - loss: 0.3703 - accuracy: 0.8502
Epoch 21/50
854/854 [==============================] - 3s 3ms/step - loss: 0.3700 - accuracy: 0.8502
Epoch 22/50
854/854 [==============================] - 2s 3ms/step - loss: 0.3695 - accuracy: 0.8501
Epoch 23/50
854/854 [==============================] - 2s 3ms/step - loss: 0.3691 - accuracy: 0.8503
Epoch 24/50
854/854 [==============================] - 3s 3ms/step - loss: 0.3686 - accuracy: 0.8502
Epoch 25/50
854/854 [==============================] - 3s 3ms/step - loss: 0.3684 - accuracy: 0.8506
Epoch 26/50
854/854 [==============================] - 3s 4ms/step - loss: 0.3679 - accuracy: 0.8506
Epoch 27/50
854/854 [==============================] - 3s 4ms/step - loss: 0.3674 - accuracy: 0.8508
Epoch 28/50
854/854 [==============================] - 3s 3ms/step - loss: 0.3670 - accuracy: 0.8506
Epoch 29/50
854/854 [==============================] - 2s 3ms/step - loss: 0.3671 - accuracy: 0.8505
Epoch 30/50
854/854 [==============================] - 2s 3ms/step - loss: 0.3664 - accuracy: 0.8508
Epoch 31/50
854/854 [==============================] - 3s 3ms/step - loss: 0.3662 - accuracy: 0.8505
Epoch 32/50
854/854 [==============================] - 2s 3ms/step - loss: 0.3657 - accuracy: 0.8509
Epoch 33/50
854/854 [==============================] - 2s 3ms/step - loss: 0.3659 - accuracy: 0.8513
Epoch 34/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3655 - accuracy: 0.8508
Epoch 35/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3653 - accuracy: 0.8509
Epoch 36/50
854/854 [==============================] - 2s 3ms/step - loss: 0.3649 - accuracy: 0.8510
Epoch 37/50
854/854 [==============================] - 2s 3ms/step - loss: 0.3639 - accuracy: 0.8515
Epoch 38/50
854/854 [==============================] - 2s 3ms/step - loss: 0.3645 - accuracy: 0.8510
Epoch 39/50
854/854 [==============================] - 2s 3ms/step - loss: 0.3638 - accuracy: 0.8514
Epoch 40/50
854/854 [==============================] - 2s 3ms/step - loss: 0.3638 - accuracy: 0.8512
Epoch 41/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3632 - accuracy: 0.8518
Epoch 42/50
854/854 [==============================] - 2s 3ms/step - loss: 0.3630 - accuracy: 0.8514
Epoch 43/50
854/854 [==============================] - 2s 3ms/step - loss: 0.3632 - accuracy: 0.8523
Epoch 44/50
854/854 [==============================] - 2s 3ms/step - loss: 0.3624 - accuracy: 0.8510
Epoch 45/50
854/854 [==============================] - 2s 3ms/step - loss: 0.3620 - accuracy: 0.8521
Epoch 46/50
854/854 [==============================] - 2s 3ms/step - loss: 0.3617 - accuracy: 0.8524
Epoch 47/50
854/854 [==============================] - 2s 3ms/step - loss: 0.3620 - accuracy: 0.8521
Epoch 48/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3617 - accuracy: 0.8519
Epoch 49/50
854/854 [==============================] - 2s 3ms/step - loss: 0.3616 - accuracy: 0.8525
Epoch 50/50
854/854 [==============================] - 2s 3ms/step - loss: 0.3618 - accuracy: 0.8524
285/285 - 1s - loss: 0.3927 - accuracy: 0.8456 - 601ms/epoch - 2ms/step
Loss: 0.3927249014377594, Accuracy: 0.8455963134765625