<a href="https://colab.research.google.com/github/EmadSoheili/DeepLearning-UofT-Canvas/blob/main/SVM_Vs_DeepLearning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Import our dependencies

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC
import pandas as pd
import tensorflow as tf

In [2]:
# Import our input dataset

tele_df = pd.read_csv('Inputs/bank_telemarketing.csv')
tele_df.head()

,Age,Job,Marital_Status,Education,Default_Credit,Housing_Loan,Personal_Loan,Subscribed
0,56,other,married,Primary_Education,no,no,no,no
1,37,services,married,Secondary_Education,no,yes,no,no
2,40,admin,married,Primary_Education,no,no,no,no
3,56,services,married,Secondary_Education,no,no,yes,no
4,59,admin,married,Professional_Education,no,no,no,no

In [3]:
# Create a list of categorical fields

tele_cat = tele_df.dtypes[tele_df.dtypes == "object"].index.tolist()

# Check the number of unique values in each field

tele_df[tele_cat].nunique()

Job               9
Marital_Status    3
Education         4
Default_Credit    2
Housing_Loan      2
Personal_Loan     2
Subscribed        2
dtype: int64

In [4]:
# One-Hot Encoder

enc = OneHotEncoder(sparse=False)
encode_df = pd.DataFrame(enc.fit_transform(tele_df[tele_cat]))
encode_df.columns = enc.get_feature_names(tele_cat)
encode_df.head()

/usr/local/lib/python3.8/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,Job_admin,Job_blue-collar,Job_entrepreneur,Job_management,Job_other,Job_retired,Job_self-employed,Job_services,Job_technician,Marital_Status_divorced,...,Education_Secondary_Education,Education_Tertiary_Education,Default_Credit_no,Default_Credit_yes,Housing_Loan_no,Housing_Loan_yes,Personal_Loan_no,Personal_Loan_yes,Subscribed_no,Subscribed_yes
0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0

In [5]:
# Merge one-hot encoded features and drop the original ones

tele_df = tele_df.merge(encode_df,left_index=True, right_index=True)
tele_df = tele_df.drop(tele_cat,1)
tele_df.head()

<ipython-input-5-aa19932d9a7c>:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  tele_df = tele_df.drop(tele_cat,1)

,Age,Job_admin,Job_blue-collar,Job_entrepreneur,Job_management,Job_other,Job_retired,Job_self-employed,Job_services,Job_technician,...,Education_Secondary_Education,Education_Tertiary_Education,Default_Credit_no,Default_Credit_yes,Housing_Loan_no,Housing_Loan_yes,Personal_Loan_no,Personal_Loan_yes,Subscribed_no,Subscribed_yes
0,56,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
1,37,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
2,40,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
3,56,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
4,59,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0

In [6]:
# Split data into inputs and output

y = tele_df.Subscribed_yes.values
X = tele_df.drop(columns=["Subscribed_no","Subscribed_yes"]).values

In [7]:
# Split data into train and test

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [8]:
# Scale data

scaler = StandardScaler()
X_scaler = scaler.fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [9]:
# SVM

# Model

svm = SVC(kernel='linear')
svm.fit(X_train, y_train)
y_pred = svm.predict(X_test_scaled)

# Evaluation

print(f" SVM model accuracy: {accuracy_score(y_test,y_pred):.3f}")

 SVM model accuracy: 0.873

In [10]:
# Deep Learning

# Model

number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 10
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# Hidden Layers

nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer

nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Compile

nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Train model

fit_model = nn.fit(X_train_scaled, y_train, epochs=50) 

# Evaluation

model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Epoch 1/50
715/715 [==============================] - 2s 1ms/step - loss: 0.4267 - accuracy: 0.8487
Epoch 2/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3734 - accuracy: 0.8734
Epoch 3/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3703 - accuracy: 0.8734
Epoch 4/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3686 - accuracy: 0.8734
Epoch 5/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3677 - accuracy: 0.8734
Epoch 6/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3672 - accuracy: 0.8737
Epoch 7/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3664 - accuracy: 0.8729
Epoch 8/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3661 - accuracy: 0.8740
Epoch 9/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3656 - accuracy: 0.8735
Epoch 10/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3653 - accuracy: 0.8737
Epoch 11/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3648 - accuracy: 0.8735
Epoch 12/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3645 - accuracy: 0.8736
Epoch 13/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3642 - accuracy: 0.8736
Epoch 14/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3639 - accuracy: 0.8738
Epoch 15/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3637 - accuracy: 0.8740
Epoch 16/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3634 - accuracy: 0.8741
Epoch 17/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3633 - accuracy: 0.8736
Epoch 18/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3633 - accuracy: 0.8740
Epoch 19/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3631 - accuracy: 0.8739
Epoch 20/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3628 - accuracy: 0.8732
Epoch 21/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3627 - accuracy: 0.8738
Epoch 22/50
715/715 [==============================] - 1s 2ms/step - loss: 0.3626 - accuracy: 0.8739
Epoch 23/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3626 - accuracy: 0.8739
Epoch 24/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3624 - accuracy: 0.8740
Epoch 25/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3622 - accuracy: 0.8737
Epoch 26/50
715/715 [==============================] - 1s 2ms/step - loss: 0.3622 - accuracy: 0.8734
Epoch 27/50
715/715 [==============================] - 1s 2ms/step - loss: 0.3620 - accuracy: 0.8738
Epoch 28/50
715/715 [==============================] - 1s 2ms/step - loss: 0.3620 - accuracy: 0.8740
Epoch 29/50
715/715 [==============================] - 1s 2ms/step - loss: 0.3620 - accuracy: 0.8740
Epoch 30/50
715/715 [==============================] - 2s 2ms/step - loss: 0.3619 - accuracy: 0.8737
Epoch 31/50
715/715 [==============================] - 1s 2ms/step - loss: 0.3619 - accuracy: 0.8739
Epoch 32/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3618 - accuracy: 0.8740
Epoch 33/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3617 - accuracy: 0.8739
Epoch 34/50
715/715 [==============================] - 1s 2ms/step - loss: 0.3617 - accuracy: 0.8740
Epoch 35/50
715/715 [==============================] - 1s 2ms/step - loss: 0.3616 - accuracy: 0.8742
Epoch 36/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3616 - accuracy: 0.8736
Epoch 37/50
715/715 [==============================] - 1s 2ms/step - loss: 0.3614 - accuracy: 0.8742
Epoch 38/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3608 - accuracy: 0.8736
Epoch 39/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3614 - accuracy: 0.8737
Epoch 40/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3610 - accuracy: 0.8735
Epoch 41/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3611 - accuracy: 0.8734
Epoch 42/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3611 - accuracy: 0.8739
Epoch 43/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3611 - accuracy: 0.8738
Epoch 44/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3610 - accuracy: 0.8737
Epoch 45/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3610 - accuracy: 0.8737
Epoch 46/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3609 - accuracy: 0.8737
Epoch 47/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3610 - accuracy: 0.8739
Epoch 48/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3609 - accuracy: 0.8735
Epoch 49/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3607 - accuracy: 0.8736
Epoch 50/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3608 - accuracy: 0.8738
239/239 - 0s - loss: 0.3690 - accuracy: 0.8727 - 375ms/epoch - 2ms/step
Loss: 0.36900490522384644, Accuracy: 0.8727034330368042